# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Mac
.DS_Store
*.DS_Store

# Large Model Weights
# *.pt
# best.pt

# Virtual Env
venv/
env/
.env

# Custom
backend/backend/
backend/DrishtiAI/
backend/drishti-landing.html

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
